@model UserModel
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @if (Model.Perfil == CinemaManager.Enums.PerfilEnum.Admin)
        {
            <a class="navbar-brand" asp-area="" asp-controller="Movies" asp-action="Index">Olá, @Model.Name</a>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Index">Filmes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Theaters" asp-action="Index">Salas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Session" asp-action="Index">Sessões</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Usuários</a>
            </li>
        }
        else
        {
            <a class="navbar-brand" asp-area="" asp-controller="Movies" asp-action="IndexForUser">Olá, @Model.Name</a>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="IndexForUser">Filmes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Theaters" asp-action="Index">Salas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Session" asp-action="IndexForUser">Sessões</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="SignOut">Sair</a>
        </li>
    </ul>
</div>